[user]
	email = contact@p1ass.com
	name = Naoki Kishi
 
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = $HOME/.gitignore_global
[push]
	default = upstream
[rebase]
	autostash = true
[pull]
	rebase = true
	ff = only
[merge]
	ff = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
