[user]
	email = naokikishi.kyoto@gmail.com
	name = Naoki Kishi
 
[url "git@github.com:"]
    insteadOf = https://github.com/
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/plus/.gitignore_global
[rebase]
	autostash = true
[pull]
	rebase = false
